<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">

        {{>header}}
        <p>This site cretaed by Anupam Biswas</p>
        <img class="portrait" src="/img/pic.jpg">
        <p>created by {{Author}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>